<script type="text/javascript">
    $(function () {

        $("#article-table").jqGrid({
            url: '/article/findAllArticleByPage',
            //引入bootstrap的UI样式
            styleUI: 'Bootstrap',
            datatype: 'json',
            colNames: ['编号', '作者', '详细', '标题', '出版时间', '操作'],
            // 指定表单编辑时提交的路径
            editurl: '/article/operArticle',
            colModel: [
                {name: 'id', align: 'center'},
                {name: 'guruName', align: 'center', editable: true},
                {name: 'content', align: 'center', editable: true},
                {name: 'title', align: 'center', editable: true},
                {name: 'publishDate', align: 'center', editable: true},
                {
                    name: "oper", align: 'center',
                    formatter: function (value, option, rows) {
                        return "<a class='btn btn-primary' onclick=\"openModal('edit','" + rows.id + "')\">修改</a>";
                    }
                }
            ],
            pager: '#article-pager',
            rowNum: 5,
            page: 1,
            rowList: [5, 10, 20, 30],
            viewrecords: true,
            rownumbers: true,
            height: 350,
            autowidth: true
            /* ,
             loadComplete: function () {
                 var ids = $("#article-table").getDataIDs();
                 for (var i = 0; i < ids.length; i++) {
                     grid.setRowData(ids[i], false, {height: 35 + i * 2});
                 }
             }*/

        }).navGrid('#article-pager', {
            'add': false,
            'edit': false,
            'del': true
        }, {closeAfterEdit: true}, {closeAfterAdd: true}, {closeAfterDel: true});

        //获取上师信息
        /*   function gettypes() {
               //动态生成select内容  获取所有上师---
              // var str = "";
               $.ajax({
                   type: "post",
                   async: false,
                   url: "/guru/findAllGuru",
                   dataType: "json",
                   success: function (data) {
                       if (data != null) {
                           var length = data.length;
                           $("#article-author").empty();
                           for (var i = 0; i < length; i++) {
                               /!*if (i != length - 1) {
                                   str += data[i].dharma + ":" + data[i].dharma + ";";
                               } else {
                                   // 这里是option里面的 value:label
                                   str += data[i].dharma + ":" + data[i].dharma;
                               }*!/
                               var option = $("<option value='"+data[i].dharma+"'>"+data[i].dharma+"</option>")
                               $("#article-author").append(option);
                           }
                       }
                   }
               });
               return str;
           }*/


    });
    //富文本编辑器
    var options = {
        width: '100%',
        uploadJson: '/article/upload',
        //上传文件名
        filePostName: 'aa',
        allowFileManager: true,
        fileManagerJson: '/article/cloud',
        //回调函数
        afterBlur: function () {
            this.sync();
        }
    };
    KindEditor.create('#editor_id', options);

    //打开模态框
    function openModal(oper, id) {
        //alert(oper);
        //加载上师信息
        $.ajax({
            type: "post",
            async: false,
            url: "/guru/findAllGuru",
            dataType: "json",
            success: function (data) {
                if (data != null) {
                    var length = data.length;
                    $("#article-author").empty();
                    for (var i = 0; i < length; i++) {
                        /*if (i != length - 1) {
                            str += data[i].dharma + ":" + data[i].dharma + ";";
                        } else {
                            // 这里是option里面的 value:label
                            str += data[i].dharma + ":" + data[i].dharma;
                        }*/
                        var option = $("<option value='" + data[i].dharma + "'>" + data[i].dharma + "</option>")
                        $("#article-author").append(option);
                    }
                }
            }
        });
        KindEditor.html("#editor_id", "");
        $("#article-form")[0].reset();
        var article = $("#article-table").jqGrid("getRowData", id);
        $("#article-id").val(article.id);
        $("#article-oper").val(oper);
        $("#article-title").val(article.title);
        $("#article-author").val(article.guruName);
        KindEditor.html("#editor_id", article.content);
        //展示模态框
        $("#myModal").modal('show');

    }

    //保存文章信息
    function saveArticle() {
        $.ajax({
            url: '/article/operArticle',
            type: 'post',
            data: $("#article-form").serialize(),
            dataType: 'json',
            success: function (data) {
                //关闭模态框
                $("#myModal").modal('hide');
                //刷新jqGrid
                $("#article-table").trigger("reloadGrid");
            },
            error: function () {
                alert("出错了~~~~")
            }
        })
    }

</script>
<div class="panel panel-info" id="emplist">
    <div class="panel-heading text-center">
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">展示所有</a></li>
            <li role="presentation"><a onclick="openModal('add')">添加文章</a></li>
        </ul>
    </div>
    <div class="panel-body text-center">
        <table id="article-table" class="table table-striped table-bordered table-hover">
        </table>
    </div>
    <div id="article-pager">
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">文章信息</h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline" id="article-form">
                        <div class="form-group">
                            <label for="article-title">标题：</label>
                            <input type="hidden" name="id" class="form-control" id="article-id">
                            <input type="hidden" name="oper" class="form-control" id="article-oper">
                            <input type="text" name="title" class="form-control" id="article-title"
                                   placeholder="请输入标题~~~">
                        </div>
                        <div class="form-group">
                            <label for="article-author">作者：</label>
                            <!--<input type="email" name="guruName" class="form-control" id="article-author"
                                   placeholder="请输入作者~~~">-->
                            <select name="guruName" id="article-author" class="form-control">
                            </select>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="editor_id">文章内容：</label>
                            <textarea id="editor_id" name="content" style="width:700px;height:300px;">
                            </textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="saveArticle()">保存</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

</div>
