<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.dao.UserDAO">
    <select id="selectCountByDays" resultType="Integer">
        select count(id) from cmfz_user where datediff(now(),create_date) &lt; #{days}
    </select>
    <select id="findBoyGroupByProcince" resultType="com.baizhi.vo.UserSexCount">
        select province name,count(id) value  from cmfz_user where sex='男' group by province
    </select>
    <select id="findGrilGroupByProcince" resultType="com.baizhi.vo.UserSexCount">
        select province name,count(id) value  from cmfz_user where sex='女' group by province
    </select>
</mapper>
